
# source code
src

# compiler
tsconfig.json
webpack.config.js

# files
*.log
unwrap.js


# tests
test
jest.config.js
setupJest.ts
coverage

#  lint
.eslintrc.js
.prettierrc

# IDE - VSCode
.vscode
*.code-workspace

# git
.git
.github